@charset "UTF-8";

header {
    background-color: #ffcccc;
    width: 1000px;
    text-align: left;
}

#wrapper {
    width: 1000px;
}

#main {
    width: 700px;
    float: left;
    overflow: hidden;
    background-color: #ccffcc;
}

#menu {
    width: 300px;
    float: right;
    background-color: #ccccff;
    display: block;
    overflow: hidden;
}

footer {
    background-color: #ffccff;
    text-align: left;
    clear: both;
    width: 1000px;
}
